
<div class="header">
    <div class="header-content">
        <h1 class="display-1">QUANTIFY CAPITAL</h1>
        <p>Let Quantify Capital be part of your journey</p>
    </div>
</div>

<div class="container mt-5 mb-5">
    <app-fno-form></app-fno-form>
    
    
    <h2 class="display-1 text-center">OPTION CHAIN</h2>
    <div class="screen-divide row">

        <div class="col-sm-4">
            <app-fno-table></app-fno-table>
        </div>

    </div>

</div>




<div class="footer">
    <div class="footer-contents">
        <a href="https://www.facebook.com/quantifycap/">
            <i class="fa-brands fa-facebook"></i>
        </a>

        <a href="https://twitter.com/sourabhsiso19?lang=en">
            <i class="fa-brands fa-twitter"></i>
        </a>

        <a href="https://www.instagram.com/quantify_capital/">
            <i class="fa-brands fa-instagram-square"></i>
        </a>

        <a href="https://www.linkedin.com/company/quantifycapital/?source=site">
            <i class="fa-brands fa-linkedin"></i>
        </a>

        <a href="https://www.youtube.com/user/sourabhsiso19">
            <i class="fa-brands fa-youtube"></i>
        </a>
    </div>
</div>
